<div class="container" ng-class="{'form-container':$ctrl.openContainer()}">
    <div ng-class="{'form-lista':$ctrl.openContainer()}">
        <div class="buscador-container">
            <div class="input">
                <input type="text" class="buscador" ng-model="$ctrl.filtro"
                       placeholder="Buscar Plato" style="width: 100%">
            </div>
        </div>


        <div>
            <div ng-repeat="row in $ctrl.productos track by $index">
                <span style="font-weight: bold">{{row.nombre}}</span>
                <div ng-repeat="prod in row.productos | filter:$ctrl.filtro"
                     ng-click="$ctrl.producto = prod; $ctrl.detailsOpen = true;">
                    {{prod.nombre}} {{prod.precios[0].precio | currency}}
                </div>
            </div>
        </div>
    </div>

    <form class="form-abm" form-id="abm-detalle" ng-class="{'form-open':$ctrl.detailsOpen}">
        <div class="detalle-container">
            <div class="mv-col">
                <label ng-bind="$ctrl.producto.nombre"></label>
                <label ng-bind="$ctrl.producto.precios[0].precio | currency"></label>
                <label ng-bind="$ctrl.producto.descripcion"></label>


            </div>
            <span ng-if="$ctrl.producto.kits.length >0">Guarniciones</span>
            <div class="mv-col">
                <span ng-repeat="acomp in $ctrl.producto.kits track by $index">
                    <input ng-if="acomp.opcional == 1" type="checkbox"
                           ng-model="acomp.selected"
                           name="acomp.nombre">{{acomp.nombre}} {{acomp.precio | currency}}<br></span>
            </div>

            <div>
                <button ng-click="$ctrl.producto.cantidad = ($ctrl.producto.cantidad ==1)? 1 : $ctrl.producto.cantidad- 1">-</button>
                {{$ctrl.producto.cantidad}}
                <button ng-click="$ctrl.producto.cantidad = $ctrl.producto.cantidad+ 1">+</button>
            </div>
            <textarea name="" id="" ng-model="acomp.comentario" cols="30" rows="10"></textarea>

            <div class="botonera">
                <button type="button" class="boton-ok" ng-click="$ctrl.save();" title="Guardar">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button type="button" class="boton-cancelar" ng-click="$ctrl.cancel();"
                        title="Cancelar">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>


</div>